<html ng-app="teaching-cube">
	<head>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="format.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="../js/script.js"></script>
	</head>
	<body ng-controller="TeachingCubeController">
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">The Teaching Cube</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Work <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">FAQs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Help</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About Us</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
		
			<div class ="row">
				<div class ="col">
					<b>Current Lesson</b>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Select Lesson
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#" ng-click="getLesson('1')">1</a>
						<a class="dropdown-item" href="#">2</a>
						<a class="dropdown-item" href="#">3</a>
						<a class="dropdown-item" href="#">4</a>
						<a class="dropdown-item" href="#">5</a>
						<a class="dropdown-item" href="#">6</a>
						<a class="dropdown-item" href="#">7</a>
						</div>
					</div>
					{{lesson.lessonQuestion}}
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-6">
					<p>
					<b>Workspace</b>
					</p>
					 <div class="form-group">
						<label for="codeWindow">Code</label>
							<input type="text" class="form-control" id="codeWindow" ng-model="userAnswer"/>
					</div>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="checkAnswer()">
					Check Answer
					</button>
					<!-- This is where -->
					<button type="button" ng-disabled="!answerCorrect" ng-click="submitLesson()" class="btn btn-secondary btn-lg" >Submit</button>
					<!-- I think we'll need JavaScript to make this button enabled after the answer is OK-->
					
				
				</div>
				<div class="col-3">
					<p>
					<b>Colors</b>
					</p>
					<div class="btn-group-vertical" role="group" aria-label="Colors">
						<button type="button" class="btn btn-primary"  caps="BLUE" ng-click="userAnswer = userAnswer + 'BLUE'">Blue</button>
						<button type="button" class="btn btn-warning" caps="YELLOW" onclick="$('#codeWindow').val($('#codeWindow').val()+$(this).attr('caps'))">Yellow</button>
						<button type="button" class="btn btn-danger" caps="RED" ng-click="userAnswer = userAnswer + 'RED'">Red</button>
						<button type="button" class="btn btn-success" caps="GREEN" onclick="$('#codeWindow').val($('#codeWindow').val()+$(this).attr('caps'))">Green</button>
					</div>
				</div>
				<div class="col-3">
					<p>
					<b>Tools</b>
					<div class="btn-group-vertical" role="group" aria-label="Colors">
						<button type="button" class="btn btn-outline-secondary" ng-click="userAnswer = userAnswer + '+'">+</button>
						<button type="button" class="btn btn-outline-secondary" onclick="$('#codeWindow').val($('#codeWindow').val()+$(this).text())">-</button>
						<button type="button" class="btn btn-outline-secondary" onclick="$('#codeWindow').val($('#codeWindow').val()+$(this).text())">while</button>
						<button type="button" class="btn btn-outline-secondary" onclick="$('#codeWindow').val($('#codeWindow').val()+$(this).text())">do</button>
						<button type="button" class="btn btn-outline-secondary" onclick="$('#codeWindow').val($('#codeWindow').val()+$(this).text())">if</button>
						<button type="button" class="btn btn-outline-secondary" onclick="$('#codeWindow').val($('#codeWindow').val()+$(this).text())">else</button>
						<button type="button" class="btn btn-outline-secondary" onclick="$('#codeWindow').val($('#codeWindow').val()+$(this).text())">then</button>
					</div>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>